---
services:
  verlihub:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    container_name: verlihub
    depends_on:
      verlihub_mysql:
        condition: service_healthy
    environment:
      - "VH_MYSQL_DB_HOST=verlihub_mysql"
      - "VH_MYSQL_DB_NAME=verlihub"
      - "VH_MYSQL_USER=verlihub"
      - "VH_HUB_CONFIG_DIR=/opt/verlihub/.config/verlihub"
      - "VH_HUB_HOST=verlihub"
      - "VH_HUB_PORT=411"
      - "VH_HUB_NAME=Verlihub Test"
      - "VH_HUB_MASTER_NAME=MattK"
    ports:
      - mode: host
        protocol: tcp
        published: 411
        target: 411
      - mode: host
        protocol: udp
        published: 411
        target: 411
    restart: unless-stopped
    secrets:
      - VH_MYSQL_PASSWORD
      - VH_HUB_MASTER_PASSWORD
    volumes:
      - source: verlihub
        target: /opt/verlihub/.config/verlihub
        type: volume
  verlihub_mysql:
    container_name: verlihub_mysql
    environment:
      - "MYSQL_ROOT_PASSWORD_FILE=/run/secrets/VH_MYSQL_PASSWORD"
      - "MYSQL_DATABASE=verlihub"
      - "MYSQL_USER=verlihub"
      - "MYSQL_PASSWORD_FILE=/run/secrets/VH_MYSQL_PASSWORD"
    healthcheck:
      interval: 10s
      retries: 3
      start_period: 10s
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      timeout: 5s
    image: mariadb:11.8.5-ubi9@sha256:cff299104d3f098eb8966935bbd720f7c67680638c4677c808e8ccdaf838fc3a
    restart: unless-stopped
    secrets:
      - VH_MYSQL_PASSWORD
    volumes:
      - source: verlihub_mysql
        target: /var/lib/mysql
        type: volume
secrets:
  VH_MYSQL_PASSWORD:
    file: secrets/VH_MYSQL_PASSWORD
  VH_HUB_MASTER_PASSWORD:
    file: secrets/VH_HUB_MASTER_PASSWORD
volumes:
  verlihub:
    name: verlihub
  verlihub_mysql:
    name: verlihub_mysql
