---
jobs:
  image:
    name: Image
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Generate test secrets
      - name: Generate test secrets
        run: |
          mkdir secrets
          echo "sqlpw123" > secrets/VH_MYSQL_PASSWORD
          echo "hubpw123" > secrets/VH_HUB_MASTER_PASSWORD
      # Build and start image
      - name: Build and start image
        run: |
          docker compose up --detach
      # Grab the container logs
      - name: Grab container logs
        run: |
          sleep 10
          docker compose logs verlihub
      # Attempt TCP connection
      - name: Attempt TCP connection
        run: |
          nc -zv 127.0.0.1 411
      # Stop and remove containers
      - name: Stop and remove container
        run: |
          docker compose down
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
