---
jobs:
  image:
    name: Image
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # Generate test secrets
      - name: Generate test secrets
        run: |
          mkdir secrets
          echo "sqlpw123" > secrets/VH_MYSQL_PASSWORD
          echo "hubpw123" > secrets/VH_HUB_MASTER_PASSWORD
      # Build and start image
      - name: Build and start image
        run: |
          docker compose up --detach
      # Grab the container logs
      - name: Grab container logs
        run: |
          sleep 10
          docker compose logs verlihub
      # Stop and remove containers
      - name: Stop and remove container
        run: |
          docker compose down
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
